<div class="container grid-container-fix" style="margin: 0">
  <div class="row">
      <div class="col-sm-12">
        <header>
          <nav>
          <ul class="nav nav-tabs bg-primary">
              <li class="nav-item"><a class="nav-link" routerLink="/files" routerLinkActive="active">Archivos</a></li>
            </ul>
        </nav>
        </header>
        <section>
          <router-outlet [@routerAnimations]="mainOutlet.state" (activate)='updateStatus($event)' (deactivate)='updateStatus($event)' #mainOutlet></router-outlet>
        </section>
        <footer></footer>
      </div>
    </div>
  </div>
<script>$(document).ready(function() { $('body').bootstrapMaterialDesign(); });</script>
<!--
  https://fezvrasta.github.io/bootstrap-material-design/docs/4.0/extend/icons/
  https://fezvrasta.github.io/bootstrap-material-design/docs/4.0/material-design/navs/
-->
