.tableFiles {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  .tableFiles td, .tableFiles th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  .tableFiles tr:nth-child(even){background-color: #f2f2f2;}
  
  .tableFiles tr:hover {background-color: #ddd;}
  
  .tableFiles th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #1F497D;
    color: white;
  }