<div class="container grid-container-fix padding-default" style="margin: 0; widows: 100%;">
  <div class="row">
    <div class="col-sm-12">
      <div>
        <form [formGroup]="fileForm" (ngSubmit)="onSubmit()" class="needs-validation" novalidate>
          <div class="form-row">
            <div class="form-group col-sm-4">
              <label for="tipeConsult">Tipo de Consulta</label>
              <select class="form-control" id="operator-groups" (change)="onChange($event.target.value)">
                <option disabled selected value>Seleccione.</option>
                <option value="1">Consultar por Fecha.</option>
                <option value="2">Consultar por Id.</option>
                <option value="3">Consultar por NUT.</option>
              </select>
            </div>
            <div *ngIf = "selectedDevice == 1" class="form-group col-sm-4">
              <label for="dateFile">Fecha</label>
              <input type="date" class="form-control" id="dateFile" formControlName="dateFile" required
                [ngClass]="{'is-invalid': fileForm.get('dateFile').invalid && (fileForm.get('dateFile').dirty || fileForm.get('dateFile').touched) }">
              <div class="invalid-feedback">
                Campo requerido.
              </div>
            </div>
            <div *ngIf = "selectedDevice == 2" class="form-group col-sm-4">
              <label for="nameId">Identificador</label>
              <input type="text" class="form-control" id="nameId" formControlName="nameId" required
                [ngClass]="{'is-invalid': fileForm.get('nameId').invalid && (fileForm.get('nameId').dirty || fileForm.get('nameId').touched) }">
              <div class="invalid-feedback">
                Campo requerido.
              </div>
            </div>
            <div *ngIf = "selectedDevice == 3" class="form-group col-sm-4">
              <label for="nutId">Nut</label>
              <input type="text" class="form-control" id="nutId" formControlName="nutId" required
                [ngClass]="{'is-invalid': fileForm.get('nutId').invalid && (fileForm.get('nutId').dirty || fileForm.get('nutId').touched) }">
              <div class="invalid-feedback">
                Campo requerido.
              </div>
            </div>
            <div class="form-group col-sm-4">
              <button type="button" class="btn btn-primary" (click)="findFile(fileForm.get('dateFile').value ,fileForm.get('nameId').value, fileForm.get('nutId').value)">Consultar</button>
            </div>
            <div class="form-group col-sm-12">
              <div *ngIf="errorserver" class="alert alert-warning" role="alert">
                No se ha podido completar la solicitud, intente de nuevo.
              </div>
            </div>
            <div class="form-group col-sm-12">
              <div *ngIf="notfoundserver" class="alert alert-warning" role="alert">
                No se ha encontrado informacion en el servidor, intente de nuevo.
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="table-responsive-sm">
        <table class="table table-hover tableFiles">
          <thead>
            <tr>
              <th>Id</th>
              <th>Nombre</th>
              <th>Url</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let device of goodResponse[0]; let i = index" class="cursor-point"
              (click)="get(device.urlfile, i)">
              <td data-label="id">{{i}}</td>
              <td data-label="name">{{device.name}}</td>
              <td data-label="urlfile">{{device.urlfile}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>