/* You can add global styles to this file, and also import other style files */
.primary-color, .bg-primary {
    background-color: #1F497D!important;
  }
  .primary-color, .bg-primary, .btn-primary {
    color: #1F497D!important;
  }
  *, body{
    margin:0;
  }
  .grid-container-fix{
    padding-right: 0;
    padding-left: 0;
    max-width: 100%;
  }
  .padding-default{
    padding-top: 40px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
  }
  .cursor-point{
    cursor: pointer;
  }
  
  .tableFiles {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  .tableFiles td, .tableFiles th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  .tableFiles tr:nth-child(even){background-color: #f2f2f2;}
  
  .tableFiles tr:hover {background-color: #ddd;}
  
  .tableFiles th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #1F497D;
    color: white;
  }